<iframe 
        style="align-content: stretch" src="https://demo.thingsboard.io/dashboards/1f9828d0-058e-11e7-87f7-bb0136cc33d0?publicId=963ab470-34c9-11e7-a7ce-bb0136cc33d0&source=realtimeIotDashboards" height="850" width="100%" frameBorder="0" >Not Supported</iframe>
        <iframe 
        style="align-content: stretch" src="https://demo.thingsboard.io/dashboards/1f9828d0-058e-11e7-87f7-bb0136cc33d0?publicId=963ab470-34c9-11e7-a7ce-bb0136cc33d0&source=realtimeIotDashboards" height="850" width="100%" frameBorder="0" >Not Supported</iframe>
